<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for purchasing the flight, <%= @user.username %></h1>
    <p>
      You have successfully purchased the flight.
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for purchasing and have a great day!</p>
  </body>
</html>